/*--------Головна---------*/
/*---------header-------*/
.part1 {
    display: flex;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
.logo {
    text-align: center;
    padding-top: 10px
}
.logo-btn {
    text-decoration: none;
}
.logo img {
    width: 30%;
}
.logo-text {
    font-family: 'Caveat', cursive;
    font-size: 17px;
    font-weight: bold;
    color: #2B1B19;
}
header a {
    text-decoration: none;
    color: #04313C;
}
nav {
    padding: 25px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}
nav a {
    font-weight: 500;
    padding: 45px 12px;
    padding-bottom: 38px;
    font-size: 16px;
}
nav a:hover {
    background-color: #04313C;
    transition: background .5s;
    color: #fff;
}
.login-buttons {
    padding: 20px 10px;
    padding-left: 0;
    display: flex;
}
.btn {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #04313C;
    padding: 10px 20px;
    background-color: #04313C;
    color: #fff;
    border-radius: 7px;
}
.btn:hover {
    background-color: #fff;
    transition: background .5s;
    color: #04313C;
}
.btn.login {
    padding-right: 60px;
    padding-left: 60px;
    background-color: #fff;
    color: #04313C;
}
.btn.sign-up {
    margin-left: 5px;
}
.btn.login:hover {
    background-color: #04313C;
    transition: background .5s;
    color: #fff;
}
.menu-burger {
    display: none;
}
@media screen and (max-width: 900px) {
    .hero-div {
        top: 60%;
    }
    .login-buttons {
        display:none;
    }
    nav {
        padding: 0;
    }
    .nav-menu {
        display:block;
        text-align: right;
        padding-top: 10px;
    }
    header {
        padding: 20px 40px;
    }
    .topnav a {
        display: none;
    }
    .topnav a.menu-burger {
        display: block;
        padding-top: 37px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 50px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive .menu-burger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .logo-text {
        font-size: 22px;
    }
    .logo {
        width: 20%;
        margin: 0;
    }
    .part1 {
        display: block;
        width: 100%;
    }
    .topnav.responsive a {
        display: block;
        text-align: center;
    }
    .topnav.responsive .menu-btn {
        font-size: 30px;
        padding: 15px;
    }
}
@media screen and (max-width: 560px) {
    .topnav a.menu-burger {
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 38px;
    }
    .logo-text {
        font-size: 15px;
    }
    .logo {
        width: 30%;
    }
    .logo img {
        width: 33%;
    }
}
